.body {
  background-color: #232323;
  margin: 0;
  padding: 0;
  position: relative;
}

.navbar {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 99;
  transition: all 0.3s ease-out 0s;
  background: #232323;
}

.navbar .container {
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-menu {
  list-style-type: none;
  padding: 0;
  padding-bottom: 0;
  display: flex;
  align-items: center;
}

.navbar-menu li {
  display: inline-block;
}

.navbar-menu li a {
  display: inline-block;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  text-decoration: none;
  padding: 20px;
}

.navbar-wrap {
  display: flex;
}

.enter {
  display: inline-block;
  padding: 0;
  margin-left: 10px;
  margin-right: 20px;
}

.navbar-brand img {

  width: 250px;
  margin-left: 30px;
}

.link div {
  position: absolute;
  top: 0;
  opacity: 0;
  transition: 0.5s;
}

.link:hover div {
  opacity: 1;
}

.enter {
  filter: drop-shadow(0px 0px 12px #2eecc5);
  width: 120px;
  height: 40px;
  text-align: center;
  border-radius: 49px;
  border: 1.5px solid #2eecc5;
  cursor: pointer;
  background-color: transparent;
}

.enter a {
  color: white;
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 18px;
  text-decoration: none;
}

.enter_button {
  display: inline-block;
  padding: 0;
}

.enter_button {
  filter: drop-shadow(0px 0px 12px #2eecc5);
  width: 120px;
  height: 40px;
  text-align: center;
  border-radius: 49px;
  border: 1.5px solid #2eecc5;
  cursor: pointer;
  background-color: transparent;
}

.enter_button a {
  color: white;
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 18px;
  text-decoration: none;
}

.know_button {
  display: inline-block;
  padding: 0;
  /* float: right; */
}

.know_button {
  filter: drop-shadow(0px 0px 12px #2eecc5);
  width: 150px;
  height: 40px;
  text-align: center;
  border-radius: 49px;
  border: 1.5px solid #2eecc5;
  cursor: pointer;
  background-color: transparent;
}

.know_button a {
  color: white;
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 18px;
  text-decoration: none;
}

.token_button {
  padding: 0;
  width: max-content; 
  height: max-content; 
  float: right;
}

.token_button {
  filter: drop-shadow(0px 0px 12px #2eecc5);
  width: 170px;
  height: 30px;
  text-align: center;
  border-radius: 49px;
  border: 1.5px solid #2eecc5;
  cursor: pointer;
  background-color: transparent;
}

.token_button a {
  color: white;
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 15px;
  text-decoration: none;
}

.first {
  display: flex;
  flex-direction: row;
}

.fourth {
  display: flex;
  flex-direction: row;
}

.logo {
  display: block;
  height: 390px;
  z-index: 1;
  margin: 0;
  margin-right: 120px;
}

.tree {
  position: absolute;
  display: block;
  height: 435px;
  width: 629px;
  z-index: 1;
  margin-right: 100px;
}

.title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 45px;
  color: #2eecc5;
  margin: 15px;
  margin-left: 0;
}

.title-footer {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  color: #2eecc5;
  margin: 15px;
  margin-left: 0;
}

.title-right {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 45px;
  color: #2eecc5;
  text-shadow: 0px 0px 50px rgba(46, 236, 197, 0.55);
  margin: 15px;
  margin-left: 0;
  text-align: right;
}

.title_mini {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  color: #2eecc5;
  margin: 0;
  text-align: center;
  padding: 0;
}

.title_min {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 42px;
  color: #2eecc5;
  text-shadow: 0px 0px 50px rgba(46, 236, 197, 0.55);
  margin: 0;
  text-align: right;
  padding: 0;
  text-align: center; 
  margin-top: 50px;
}

.left {
  padding: 40px;
  width: 60%;
}

.rright {
  padding: 40px;
  width: 70%;
}

.description {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  color: rgba(255, 255, 255, 0.65);
  text-decoration: none;
}

.description-footer {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.65);
  text-decoration: none;
  margin-bottom: 20px;
}

.description-right {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  color: rgba(255, 255, 255, 0.65);
  text-align: right;
}

.descr_mini {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  color: rgba(255, 255, 255, 0.65);
  text-align: center;
}

.descr_min {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 50;
  font-size: 23px;
  color: rgba(255, 255, 255, 0.65);
  text-align: right;
  margin: 0;
  margin-bottom: 60px;
}

.right {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right_map{
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lleft {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.line {
  margin: 20px 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(
    90deg,
    rgba(42, 188, 158, 0) 0%,
    #2abc9e 48.65%,
    rgba(42, 188, 158, 0) 100%
  );
}

.back {
  width: 190px;
  height: 190px;
  border-radius: 50%;
  background: rgba(46, 236, 197, 0.3);
  box-shadow: 0px 0px 250px rgba(46, 236, 197, 0.8);
}

.back_tree {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  background: rgba(46, 236, 197, 0.3);
  box-shadow: 0px 0px 250px rgba(46, 236, 197, 0.8);
}

.circle {
  opacity: 0;
  transition: 0.5s;
}

.circle img {
  width: 300px;
  height: 300px;
}

.pos:hover .circle {
  opacity: 1;
}

.circle_photo {
  position: relative;
  opacity: 0;
  transition: 0.5s;
  cursor: pointer;
}

.circle_photo img {
  width: 500px;
  height: 500px;
}

.pos:hover .circle_photo {
  opacity: 1;
}

.pos {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
}

.b_photo {
  cursor: pointer;
}

.b_photo img {
  width: 400px;
  height: 400px;
}

.possibil img {
  margin-bottom: 20px;
  width: 130px;
}

.possibil {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.second {
  padding: 0px 120px;
}

.second_name {
  padding: 0px 120px;
}

.third {
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
  margin-top: 40px;
}

.forms{
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
  margin-top: 40px;
}

.pack {
  height: 410px;
  margin-bottom: 80px;
  margin-top: 80px;
}

.image_wrapper {
  position: relative;
  width: 100%;
  height: auto;
  margin: 0;
}

.slider {
  position: relative;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}

.slider-items {
  animation: sliderAnimate 50s infinite ease;
  width: 500%;
  height: auto;
  position: relative;
  clear: both;
  display: flex;
}

.slider-items .item {
  width: 20%;
}

.slider-items .item img {
  max-width: 100%;
  height: auto;
}

@keyframes sliderAnimate {
  0% {
    left: 0;
  }
  10% {
    left: -100%;
  }
  20% {
    left: -200%;
  }
  30% {
    left: -300%;
  }
  40% {
    left: -400%;
  }
  50% {
    left: -400%;
  }
  60% {
    left: -400%;
  }
  70% {
    left: -300%;
  }
  80% {
    left: -200%;
  }
  90% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}

.scrollbutton {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  top: 50%;
}

.scrollbutton img {
  filter: drop-shadow(0px 0px 62px rgba(46, 236, 197, 0.25));
  width: 110px;
}

.wrapper {
  overflow: hidden;
  width: 952px;
  height: 550px;
  position: relative;
  scroll-behavior: smooth;
  display: flex;
  align-items: center;
}

.wrapper .scrollbutton:first-child {
  left: -10px;
}
.wrapper .scrollbutton:last-child {
  right: -10px;
}

.our_projects {
  /*  white-space: nowrap;*/
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
  /*  clear: both;*/
}

.title_packages {
  margin-top: 40px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 65px;
  color: #3d3d3f;
  margin-left: 40px;
}

.packages_slider {
  background-color: #313134;
  width: 250px;
  height: 400px;
  border-radius: 40px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-right: 15px;
}

.buy {
  filter: drop-shadow(0px 0px 62px #2eecc5);
  width: 120px;
  height: 40px;
  text-align: center;
  border-radius: 49px;
  background: rgba(46, 236, 197, 0.1);
  border: 1.5px solid #2eecc5;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: white;
}

.buy {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 33px;
}

.price {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
  margin: 0;
}

/* .describe{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 50;
    font-size: 16px;
    text-align: center;
    color: rgba(255, 255, 255, 0.3);
    margin: 0;
} */

.forpackages {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.fifth {
  background: linear-gradient(
    90deg,
    rgba(42, 188, 158, 0) 0%,
    #2abc9e 48.65%,
    rgba(42, 188, 158, 0) 100%
  );
}

.describe_main {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: rgba(255, 255, 255, 0.65);
}

input {
  width: 280px;
  height: 40px;
  background: #283633;
  border: 1.5px solid #2eecc5;
  border-radius: 49px;
  font-family: "Open Sans";
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  padding-left: 15px;
}


input:first-child {
  margin-right: 30px;
}

.two_forms {
  margin-bottom: 20px;
}

textarea {
  width: 620px;
  height: 180px;
  background: #283633;
  border: 1.5px solid #2eecc5;
  border-radius: 35px;
  font-family: "Open Sans";
  font-style: normal;
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  padding-left: 15px;
  padding-top: 15px;
}

.contacts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.burger {
  width: max-content;
  display: none;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 15px;
  cursor: pointer;
}

.burger img{
  width: 40px;
  height: 40px;
  color: #ffffff;
}


.brand img{
  height: 100px;
}

.possibil_team img{
  width: 200px;

}

.possibil_team{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.possibility{
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  width: 400px;
}

.team_name{
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  width: 400px;
}

.packages_slider img {
  width: 130px; 
  height: 130px;
}

.footer_first{
  width: 20%; 
  margin-left: 40px;
}

.footer_second{
  width: 20%; 
  margin-left: 70px; 
  display: flex; 
  flex-direction: column;
}

.footer_third{
  width: 20%; 
  margin-left: 50px; 
  display: flex; 
  flex-direction: column;
}

.footer_forth{
  width: 20%; 
  margin-left: 50px; 
  margin-right: 60px;
}

.footer_fifth{
  width: 20%; 
  margin-left: 40px; 
  display: flex; 
  flex-direction: column;
}

.networks{
  width: 35px; 
  filter: drop-shadow(0px 0px 62px rgba(46, 236, 197, 0.5)); 
  margin-right: 10px;
}




















@media (max-width: 550px){
  .body{
    width: 100%;
  }

  .first{
    /* display: none; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0;
  }

  .enter_button {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }

  .logo{
    display: none;
  }

  .cards{
    flex-direction: column;
    width: 100%;
    margin-top: 0px;
  }

  .third{
    width: 370px;
    height: 200px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    margin-top: 40px;
    margin: 0;
    padding: 0;
  }

  .left{
    width: 370px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;  
    align-items: center;
    padding: 0;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .navbar-menu{
    display: none;
  }

  .burger{
    display: none;
  }

  .title{
    text-align: center;
    margin: 0;
    margin-top: 40px;
  }

  .description {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.65);
    text-decoration: none;
  }
  
  .description-footer {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    color: rgba(255, 255, 255, 0.65);
    text-decoration: none;
    margin-bottom: 5px;
  }
  

  
  .descr_mini {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 200;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.65);
    text-align: center;
    margin-top: 20px;
    width: 370px;
  }
  
  .descr_min {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 50;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.65);
    text-align: right;
    margin: 0;
    margin-bottom: 10px;
  }
  .description{
    text-align: center;
    margin: 0;
  }

  .title_min {
    font-size: 17px;
    margin: 0;
    text-align: center;
    padding: 0;
  }

  .descr_min{
    text-align: center;
  }



  .title-right {
    font-size: 23px;
    text-align: center;
  }

  .description-right{
    text-align: center;
    font-size: 15px;
  }

  .image_wrapper{
    display: none;
  }

  .our_projects {
    /*  white-space: nowrap;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    /*  clear: both;*/
  }


  .contacts{
    flex-direction: column;
  }

  .brand img{
    height: 50px;
  }

  .right {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .rright{
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }

  .lleft{
    width: 100%;
    margin: 0;
  }

  .fifth{
    width: 370px;
    padding: 0;
    margin: 0;
  }

  .forms{

  }



  .title {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #2eecc5;
    margin: 0;
    margin-bottom: 10px;
  }

  .title-footer {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #2eecc5;
    margin: 15px;
    margin-left: 0;
  }

  .title-right {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #2eecc5;
    text-shadow: 0px 0px 50px rgba(46, 236, 197, 0.55);
    margin: 0px;
    margin-left: 0;
    text-align: center;
  }

  .title_mini {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #2eecc5;
    margin: 0;
    text-align: center;
    padding: 0;
  }

  .title_min {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 23px;
    color: #2eecc5;
    text-shadow: 0px 0px 50px rgba(46, 236, 197, 0.55);
    margin: 0;
    padding: 0;
  }

  .possibil img {
    width: 50px;
  }

  .possibil_team img{
    width: 170px;
  }

  .circle_photo{
    display: none;
  }

  .second {
    padding: 10px 10px;

  }

  .second_name {
    padding: 10px 10px;
    margin-top: 150px;
  }

  .circle{
    display: none;
  }


  .possibility{
    margin-top: 70px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 370px;
  }

  .team_name{
    margin-top: 20px;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 370px;
  }

  .tree {
    display: none;
    margin: 0;
    padding: 0;
  }

  .know_button{
    margin-top: 20px;
  }

  .line {
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .possibil_team{
    position: static;
    top: 20px;
  }


  .pack {
    height: 210px;
    margin-bottom: 40px;
    margin-top: 40px;
  }

  .enter_button {
    filter: drop-shadow(0px 0px 12px #2eecc5);
    width: 80px;
    height: 30px;
    text-align: center;
    border-radius: 49px;
    border: 1.5px solid #2eecc5;
    cursor: pointer;
    background-color: transparent;
    margin-bottom: 20px;
  }

  .enter_button a {
    color: white;
    font-family: "Open Sans";
    font-weight: 300;
    font-size: 13px;
    text-decoration: none;
  }

  .nonee{
    display: none;
  }
  
  .know_button {
    filter: drop-shadow(0px 0px 12px #2eecc5);
    width: 110px;
    height: 30px;
    text-align: center;
    border-radius: 49px;
    border: 1.5px solid #2eecc5;
    cursor: pointer;
    background-color: transparent;
  }
  
  .know_button a {
    color: white;
    font-family: "Open Sans";
    font-weight: 300;
    font-size: 13px;
    text-decoration: none;
  }

  .nonee{
    display: none;
  }

  .second_team{
    margin-top: 150px;
  }

  .describe_main {
    font-size: 14px;
  }

  .packages_slider {
    width: 180px;
    height: 260px;
    padding: 20px;
    margin-bottom: 20px;
  }

  .packages_slider img {
    width: 70px;
    height: 70px;
  }

  .footer_first{
    margin-left: 20px;
    width: 370px; 
  }
  
  .footer_second{
    width: 370px; 
    margin-left: 20px;
    display: flex; 
    flex-direction: column;
  }
  
  .footer_third{
    margin-left: 20px;
    width: 370px; 
    display: flex; 
    flex-direction: column;
  }
  
  .footer_forth{
    margin-left: 20px;
    width: 370px; 

  }
  
  .footer_fifth{
    margin-left: 20px;
    width: 370px; 
    display: flex; 
    flex-direction: column;
  }

  .networks{
    width: 20px;
  }

  textarea {
    width: 350px;
    height: 150px;
    background: #283633;
    border: 1.5px solid #2eecc5;
    border-radius: 20px;
    font-family: "Open Sans";
    font-style: normal;
    color: #ffffff;
    font-weight: 400;
    font-size: 13px;
    padding-left: 15px;
    padding-top: 15px;
  }

  .two_forms {
    margin-bottom: 20px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  input {
    width: 350px;
    height: 30px;
    background: #283633;
    border: 1.5px solid #2eecc5;
    border-radius: 49px;
    font-family: "Open Sans";
    color: #ffffff;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    padding-left: 15px;
  }

  .right_map{
    display: none;
  }

  input:first-child {
    margin-right: 0px;
    margin-bottom: 30px;
  }

  .enter {
    filter: drop-shadow(0px 0px 12px #2eecc5);
    width: 100px;
    height: 30px;
    text-align: center;
    border-radius: 49px;
    border: 1.5px solid #2eecc5;
    cursor: pointer;
    background-color: transparent;
  }
  
  .enter a {
    color: white;
    font-family: "Open Sans";
    font-weight: 300;
    font-size: 15px;
    text-decoration: none;
  }


  



}
